*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
.navbar{
  margin: 0;
  background-color: #084d8a !important;
  width: 100% ;
}
a:hover{
  background-color: #31b8bc !important;
  color: #fff !important;
}
.navbar .nav-item .nav-link{
  color: #fff;
  margin-left:10px;
}
.navbar-toggler{
  background-color:#31b8bc ;
}
.navbar-toggler-icon{
  color: #fff !important;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.breadcrumb-content {
  position: relative;
  width: 100%;
  display: inline-block;
}
.background-breadcrumb-image {
  background-size: cover !important;
}
.breadcrumb-content-new-left {
  height: auto !important;
  padding: 30px 0 !important;
}
.breadcrumb-content {
  background-color: #084D8A !important;
}
.breadcrumb-content .overlay {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 5;
  background: rgba(0, 0, 0, .5);
}
.breadcrumb-content h1 {
    color: #63CDD7 !important;
    position: relative;
    z-index: 9 !important;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
}
.breadcrumb-content h2 {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  z-index: 9 !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  line-height: 1.25em;
  color: #333333;
  margin-top: 24px;
  margin-bottom: 24px;
}
.breadcrumb-content .detail p {
  position: relative;
  z-index: 9;
  color: #fff !important;
  font-size: 15px;
  margin: 0;
  font-weight: 400;
}
.title h5{
  background-color: #084D8A;
  color: #fff;
  margin: 0;
  padding: 20px;
}
.project{
  background-color: #084D8A;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  display: inline-block;
  width:100%;
  margin: 10px;
  padding: 10px 2px;
}
.img{
  vertical-align: middle;
  margin-bottom: 15px;
}
.sidebar-content {
  width: 100%;
  padding: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px; 
}
